.fonctionnement{
    padding-top: 20px;
    & h3{
      margin-left: 28px;
    }
    & ul{
      list-style: none;
      width: 95%;
    }
    & ul li{
      padding: 18px;
      border-radius: 15px;
      margin-bottom: 12px;
      @include bc;
      @include shadow-default;
      font-weight: 600;
      transition: all 0.3s;
    }
    & li:hover{
      opacity: 0.9;
      @include shadow-hover;
      background-color: rgba($color: $clr-secondaire, $alpha: 0.3);
    }
    & li:hover > i{
      color: $clr-primaire;
    }
    & i{
      color: rgb(95, 95, 95);
      margin-left: 12px;
      margin-right: 15px;    
    }
    & span{
      font-size: 12px;
      font-weight: lighter;
      color: white;
      text-align: center;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      padding-top: 5px;
      position: absolute;
      margin-left: -30px;
      margin-top: -2px;
      background-color: $clr-primaire;
    }
  }