.explorer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: rgb(245, 245, 245);
    & p{
      margin-top: 0px;
    }
    & button{
      @include bouton_violet-defaut;
      }
    & button:hover{
      @include bouton_violet-hover;
    }
  }